body {
    font-family: sans-serif;
}

header {
    background-color: blue;
    padding: 6px;
}

a {
    text-decoration: none;
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 3px;
}

h1 {
    text-align: center;
}

h2 {
    color: red;
}

ul {
    list-style: url(https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg);
}

.algo {
    border: 3px solid black;
}

footer {
    background-color: blue;
    padding: 5px;
}

p {
    color: white
}
